.team .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.team .box {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid rgba(62, 28, 131, 0.1);
  padding: 2rem;
  transition: 0.5s;
  position: relative;
}



.team .box:hover {
  box-shadow: 0 0 20px 0 rgba(112, 121, 138, 0.18);
  cursor: pointer;
}

.team .btn3 {
  background-color: orangered;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.team .details {
  text-align: center;
  margin-top: 30px;
}

.team .img {
  width: 90px;
  height: 90px;
  margin: auto;
  position: relative;
}

.team img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.team label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

.team ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  list-style: none;
}

.team ul li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #f4f5f7;
  border-radius: 50%;
}

.team .button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.team .button button {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.team .b1 {
  background-color: #27ae60;
}

.team .btn4 {
  background-color: black;
}

.team .container{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left:-5px;
  
}
